.screen-cliente {
  background-color: #070416f3;
  height: 100dvh;
  width: 100dvw;
}

.container-cliente {
  padding: 0;
}

.header-cliente {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  padding: 10px;
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  background-color: #352b79a8;
  width: 90dvw;
  height: 110px;
}

.search-bar-cliente {
  width: 90vw;
  height: 40px;
}

.linha-card-cliente {
  border: 1px solid #ffffff23;
  width: 100%;
}

.session-cards-cliente {
  padding: 140px 10px 10px 10px;
}

.card-cliente {
  margin-top: 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: #1a172e;
}

.retangulo-card-clinte {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #352b79;
  padding: 5px;
  width: 70px;
  height: 30px;
  gap: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.group-card-cliente {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.values-card-cliente > p {
  font-weight: 700;
  font-size: 15pt;
}