button {
    width: 100%;
    height: 60px;
    color: #fff;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    background-color: var(--color-primary);
}

button:hover {
    background-color: var(--color-second);
    transition: all .3s ease;
}