.conteiner-login {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #070416dc;
}

.LoginAgent,
.LoginAdmin {
  margin: 10px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/bg-login.jpg');
}

h1 {
  text-align: center;
  font-size: 36pt;
  font-weight: bolder;
  animation: pulse-check-atm 3s infinite;
}

p {
  font-weight: 300;
  text-align: center;
  margin-bottom: 50px;
  color: #ffffffa6;
}

form {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

Button {
  width: 340px;
  margin-top: 30px;
  font-weight: normal;
  animation: pulse-btn 2s infinite;
}

.check-session>label {
  font-size: 12pt;
  font-weight: 400;
  color: #ffffffd5;
}

.check-session {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.check-conect {
  width: 15px;
  margin-right: 10px;
  margin-top: 20px;
}

.check-conect:focus {
  box-shadow: none;
}



@keyframes pulse-check-atm {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pulse-btn {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
 form {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 
}