.conteiner-login {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #070416dc;
}

.LoginAgent,
.LoginAdmin {
  margin: 10px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/bg-login.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 36pt;
  font-weight: bolder;
  animation: pulse-check-atm 3s infinite;
}

.quemsou {
  font-weight: 300;
  text-align: center;
  margin-bottom: 50px;
  color: #ffffffa6;
}

.erro-msg-email,
.erro-msg-senha {
  color: red;
  font-weight: normal;
  margin-top: 4px;
  margin-bottom: 10px;
}

.erro-msg-cre {
  text-align: center;
  color: red;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 10px;
}

form {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-login {
  padding: 15px;
  color: #fff;
  font-size: 1.2em;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width: 330px;
  margin-top: 30px;
  font-weight: normal;
  animation: pulse-btn 2s infinite;
  background: -webkit-linear-gradient(90deg, #5856d6, #321da8);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(90deg, #5856d6, #321da8);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-login:hover {
  background-color: var(--color-second);
  transition: all .3s ease;
}

.check-session>label {
  font-size: 12pt;
  font-weight: 400;
  color: #ffffffd5;
}

.check-session {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.check-conect {
  width: 15px;
  margin-right: 10px;
  margin-top: 20px;
}

.check-conect:focus {
  box-shadow: none;
}

/*Animations*/

@keyframes pulse-check-atm {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pulse-btn {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/*Medias Queries*/