body {
    color: #fff;
    font-weight: normal;
}

.conteiner-sidebar {
    position: fixed;
    display: flex;
    width: 250px;
    height: 98.8dvh;
    padding: 10px;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    background: -webkit-linear-gradient(to top, #5856d6, #321da8);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #5856d6, #321da8);
}

.tittle {
    font-size: 2em;
}

hr {
    width: 245px;
    border: 0.1px solid #ffffff5e;
}

.user-mail {
    text-align: left;
    margin: 0px;
    padding-bottom: 10px;
}

.navegacao {
    color: #ffffff98;
    margin: 0px;
    
}

.content-links > nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    gap: 30px;
}

.content-links > nav > a {
    color: #fff;
    font-size: 1.3em;
    text-decoration: none;
}

.content-links > nav > a:hover {
    opacity: 0.7;
    scale: 1.1;
    transition: all .3s ease-in-out;
}

span {
    color: #fff;
    font-weight: normal;
}

.btn-logout {
    margin-bottom: 10px;
}

.btn-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}