input {
    border: none;
    font-size: 1.2em;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #fff;
    padding: 15px;
    outline: none;
    font-weight: normal;
    background-color: #b3b3e08f;
}

input:focus {
    box-shadow: 0px 0px 5px 1px var(--color-primary);
    transition: .2s ease;
}

input::placeholder {
    color: #ffffffda;
}