input {
    border: none;
    font-size: 1.2em;
<<<<<<< HEAD
    width: 500px;
    height: 40px;
=======
    width: 480px;
    height: 45px;
>>>>>>> 017be1a222a0fbbb9e6f388cd180c79b8019a400
    border-radius: 10px;
    margin-bottom: 30px;
    color: #fff;
    padding: 10px;
    outline: none;
    font-weight: normal;
    background-color: #b3b3e0d7;
}

input:focus {
    box-shadow: 0px 0px 5px 1px var(--color-primary);
    transition: .2s ease;
}

input::placeholder {
    color: #ffffffda;
}