@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --color-primary: #5856D6;
  --color-second: #321DA8;
  --background: #070416;
}

* {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #fff;
}

/* html, body {
  width: 100%;
  max-width: 100%;
  min-height: 97dvh;
  overflow-x: hidden;
} */

body {
  background-image: url('../../images/bg-login.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100dvh;
}

.image-particula {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70dvh;
  z-index: -1;
  position: fixed;
  top: -90px;
  opacity: 0.7;
  background:
    radial-gradient(circle at 10% 20%, var(--color-primary) 0%, transparent 20%),
    radial-gradient(circle at 90% 80%, var(--color-second) 0%, transparent 20%),
    #07041600;
}

.title-page {
  /* Define o gradiente */
  background: linear-gradient(to right, #5856D6, #321DA8, #5856D6);
  background-size: 200% auto;

  /* Aplica o gradiente ao texto */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: text-shine 3s linear infinite;

}

.session-iniciar {
  animation: introduction-text .8s ease-in forwards;
}

.session-image {
  animation: introduction-text .8s ease-in forwards;
}

.text-inicio {
  /* Inicia com opacidade zero para a animação de introdução */
  opacity: 0;

  /* Combina as duas animações na mesma propriedade */
  animation: introduction-text .8s ease-in forwards;
}

@keyframes text-shine {
  to {
    background-position: 200% center;
    /* Movimento do brilho */
  }
}

@keyframes introduction-text {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes pulsar-checar {
  
}

/* .Home {
  background-color: #070416dc;
  width: 100%;
  height: 100dvh;
}

.conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 94dvh;
  padding: 10px;
  gap: 60px;
  text-align: center;
}

.btn-conteiner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.btn-session-admin,
.btn-session-agent {
  padding: 20px 70px;
  text-align: center;
  border: 2px solid var(--color-primary);
  border-radius: 15px;
  font-size: 1.3em;
  text-decoration: none;
  box-sizing: border-box;
  max-width: 300px;
}

.btn-session-admin {
  color: var(--color-primary);
  background-color: transparent;
}

.btn-session-admin:hover {
  background-color: var(--color-primary);
  color: #fff;
  transition: all .3s ease;
}

.btn-session-agent {
  background-color: var(--color-primary);
  color: #fff;
}

.btn-session-agent:hover {
  background-color: transparent;
  color: var(--color-primary);
  transition: all .3s ease;
}

.atmcheck {
  text-align: center;
  font-size: 48pt;
  margin-bottom: 10px;
  color: var(--color-primary);
}

.conteiner .p-explore {
  text-align: center;
  margin-top: 20px;
  font-weight: lighter;
  color: var(--color-primary);
}

.link-client a {
  color: #2600ff;
  text-decoration: none;
  font-size: 1.9em;
  animation: pulse-check-atm 1s infinite;
}

.footer-home {
  font-weight: lighter;
  text-align: center;
  color: var(--color-primary);
  bottom: 0;
  position: fixed;
  left: 0;
  margin-bottom: 10px;
  width: 100%;
}

.copyright {
  font-weight: normal;
}

@keyframes pulse-check-atm {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.2);
    opacity: 0.3;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* ✅ Estilo Mobile */

/* @media screen and (max-width: 768px) { */
/* html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .Home {
    width: 100%;
    height: 100dvh;
  }

  .btn-conteiner {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
  }

  .btn-session-admin,
  .btn-session-agent {
    padding: 18px;
    width: 90%;
    max-width: 300px;
    margin-right: 0;
    font-size: 1.1em;
  }

  .atmcheck {
    font-size: 40px;
  }

  .link-client a {
    font-size: 20px;
  }

  .conteiner .p-explore {
    font-size: 15px;
  }
} */