@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
  --color-primary: #5856D6;
  --color-second: #321DA8;
  --background: #070416;
}

body {
  background-color: var(--background);
}

* {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

.conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 97vh;
  gap: 60px;
}

.btn-session-admin {
  padding: 20px 70px;
  border: 2px solid var(--color-primary);
  margin-right: 20px;
  border-radius: 15px;
  font-size: 1.3em;
  text-decoration: none;
  color: var(--color-primary);
}

.btn-session-admin:hover {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  color: var(--background);
  transition: all .3s ease;
}

.btn-session-agent {
  padding: 20px 70px;
  border: 2px solid var(--color-primary);
  margin-right: 20px;
  border-radius: 15px;
  font-size: 1.3em;
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--background);
}

.btn-session-agent:hover {
  background-color: transparent;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  transition: all .3s ease;
}

h1 {
  text-align: center;
  font-size: 48pt;
  margin-bottom: 10px;
  color: var(--color-primary)
}

.conteiner p {
  text-align: center;
  margin-top: 20px;
  font-weight: lighter;
  color: var(--color-primary);
  bottom: 0px;
}

.link-client a {
  color: #2600ff;
  text-decoration: none;
  font-size: 1.9em;
  animation: pulse-check-atm 1s infinite;
}

footer {
  font-weight: lighter;
  text-align: center;
  color: var(--color-primary);
  bottom: 0;
  position: fixed;
  left: 0;
  margin-bottom: 10px;
  width: 100%;
}

@keyframes pulse-check-atm {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.2);
    opacity: 0.3;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}