button {
    width: 480px;
    height: 45px;
    color: #fff;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background: -webkit-linear-gradient(90deg, #5856d6, #321da8);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(90deg, #5856d6, #321da8);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

button:hover {
    background-color: var(--color-second);
    transition: all .3s ease;
}