button {
    width: 90%;
    height: 40px;
    color: #fff;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--color-primary);
}

button:hover {
    background-color: var(--color-second);
    transition: all .3s ease;
}